{% extends 'public/template.html' %}

{% block content %}
<main>
    <div class="card">
        <form method="POST">
            <h3>Login</h3>

            {% if error %}
            <span>{{ error }}</span>
            {% endif %}

            <label for="username_input">Username</label>
            <input type="text" name="username" id="username_input" placeholder="username">

            <label for="password_input">password</label>
            <input type="password" name="password" id="password_input" placeholder="password">

            <input type="submit" value="Login">
        </form>
    </div>
</main>
{% endblock content %}
