{% extends 'template.html' %}

{% block content %}
<link rel="stylesheet" href="../../../../../static/css/device.css">

<main class="horizontal-center">
    <div class="big-card">
        <div id="card-icon-container" class="icon-container">
            <img class="icon" src="../../../../static/media/icons/{{ device.icon }}.svg" alt="">
        </div>
        <div class="card-info">
            <h3>{{ device.name }}</h3>
            <hr>
    
            <div class="device-control">
                <button id="toggle-switch" onclick="toggle()"></button>
            
                {% include 'components/color_picker.html' %}

                <div class="program-selector">
                    <div style="height: 20px;"></div>
                    <h4>Program selector</h4>
                    <div style="height: 10px;"></div>
                    <div id="programs">
                        {% for program in device.programs %}
                        <button id="{{ program.name }}_program_button" onclick="start_program('{{ program.name }}')">{{ print_html(program.name) }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</main>

<script>
    var device_active = {% if device.active %}true{% else %}false{% endif %};
    var device_color = "{{ device.color }}";

    function build_card() {
        $("#card-icon-container").css("background-color", device_active ? `#${device_color}` : "#212121");
    }

    $(document).ready(function() {
        build_card();
    });
</script>

<script>
    var device_active = {% if device.active %}true{% else %}false{% endif %};
    var active_program = '{{ device.active_program }}';

    var programs = [];

    {% for program in device.programs %}
    programs.push('{{ program.name }}');
    {% endfor %}

    function draw_toggle_button() {
        var button = $("#toggle-switch");
        button.html(device_active ? "Turn off" : "Turn on");
        button.css("background-color", device_active ? "#f44336" : "#8bc34a");
    }

    function toggle() {
        var action = device_active ? "turn_off" : "turn_on";

        post(window.location, {"action": action}, function(data) {
            console.log(action);
            if ('active' in data) {
                device_active = data['active'];
                active_program = "";
                draw_toggle_button();
                build_card();
                draw_programs();
            }
        })
    }

    draw_toggle_button();

    function start_program(program_name) {
        if (!device_active) {
            toggle();
        }
        post(window.location, {"action": "start_program", "program": program_name}, function(data) {
            if ('active_program' in data) {
                active_program = data['active_program'];
                draw_programs();
            }
        });
    }

    function draw_programs() {
        programs.forEach(function(program_name) {
            var program_button = $(`#${program_name}_program_button`);
            if (active_program == program_name) {
                program_button.addClass('active');
            } else {
                program_button.removeClass('active');
            }
        });
    }

    $(document).ready(function() {
        draw_programs();
    });
</script>
{% endblock content %}
