{% extends 'template.html' %}

{% block content %}
{% if len(current_user.devices) == 0 %}
<main class="center-center">
    <div class="page-message">
        <h4>You have no devices linked to your account</h4>
        <p>Did you expect devices? Notify the system admin 👨‍💻</p>
    </div>
</main>
{% else %}
<main>
    <div class="cards">

    {% for device in current_user.devices %}
        <a class="device-card clickable no-link" href="../../../../dev/{{ device.id }}">
            <div class="icon-container" style="background-color: {% if device.active %}#{{ device.color }}{% else %}#212121{% endif %}">
                <img class="icon" src="../../../../../static/media/icons/{{ device.icon }}.svg" alt="">
            </div>
            <div class="card-info">
                <div class="status">
                    <div class="circle" style="background-color: {% if device.active %}#8bc34a{% else %}#f44336{% endif %};"></div>
                    <div style="width: 5px;"></div>
                    <span  style="color: {% if device.active %}#8bc34a{% else %}#f44336{% endif %};">{% if device.active %}ON{% else %}OFF{% endif %}</span>
                </div>
                <div style="height: 5px;"></div>
                <h3>{{ device.name }}</h3>
                <p>{{ device.description }}</p>
            </div>
        </a>
    {% endfor %}
    </div>
</main>
{% endif %}
{% endblock content %}
