{% extends 'template.html' %}

{% block content %}
<main>
    <div class="cards">
    {% for device in devices %}
        <a class="card clickable no-link" href="../../../../dev/{{ device.id }}">
            <div class="icon-container">
                <img class="icon" src="../../../../../static/media/icons/{{ device.icon }}.svg" alt="">
            </div>
            <div class="card-info">
                <h3>{{ device.name }}</h3>
                <p>{{ device.description }}</p>
            </div>
        </a>
    {% endfor %}
    </div>
</main>
{% endblock content %}
